.styles_emptyMessageContainer__qyE_z {
  right: 12px;
  left: 12px;
  top: 75px;
  position: absolute;
}
.styles_emptyMessageContainer__qyE_z,
.styles_gridElement__2L4No {
  display: flex;
  place-content: center center;
}
.styles_gridElement__2L4No .styles_Placeholder__4sZwQ {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 0) {
  .styles_gridElement__2L4No .styles_Placeholder__4sZwQ {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}
@media only screen and (min-width: 668px) {
  .styles_gridElement__2L4No .styles_Placeholder__4sZwQ {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
}
@media only screen and (min-width: 992px) {
  .styles_gridElement__2L4No .styles_Placeholder__4sZwQ {
    flex-basis: 33.3333% !important;
    max-width: 33.3333% !important;
  }
}
.styles_OptinContent___E_YM {
  max-width: 375px;
  margin: 0 auto;
}
.styles_OptinDetail__LUYCX {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.styles_OptinDetail__LUYCX img {
  width: 65px;
  height: 65px;
}
.styles_OptinDetail__LUYCX p {
  margin: 0 0 0 8px;
}
.styles_OptinDetail__LUYCX a {
  text-decoration: none;
}
.styles_ndsCol__xJ3V3 {
  border-right-color: inherit;
  flex: 0 0 auto;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}
.styles_fill__wEtpb {
  height: 100%;
  width: 100%;
}
@media (min-width: 0) {
  .styles_xs__A9qd_ {
    margin-left: var(--xs-offset);
    flex-basis: var(--xs-value);
    max-width: var(--xs-value);
  }
  .styles_xsAuto__17wO3 {
    margin-left: var(--xs-offset);
    flex: 0 0 auto;
  }
  .styles_xsBoolean__jQvYp {
    margin-left: var(--xs-offset);
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
}
@media (min-width: 480px) {
  .styles_sm__y38fs {
    margin-left: var(--sm-offset);
    flex-basis: var(--sm-value);
    max-width: var(--sm-value);
  }
  .styles_smAuto__B3IWX {
    margin-left: var(--sm-offset);
    flex: 0 0 auto;
  }
  .styles_smBoolean__7tlB7 {
    margin-left: var(--sm-offset);
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
}
@media (min-width: 668px) {
  .styles_md__LSEEZ {
    margin-left: var(--md-offset);
    flex-basis: var(--md-value);
    max-width: var(--md-value);
  }
  .styles_mdAuto__YBv7x {
    margin-left: var(--md-offset);
    flex: 0 0 auto;
  }
  .styles_mdBoolean__vzd7o {
    margin-left: var(--md-offset);
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .styles_lg__VeVVi {
    margin-left: var(--lg-offset);
    flex-basis: var(--lg-value);
    max-width: var(--lg-value);
  }
  .styles_lgAuto__JTUgf {
    margin-left: var(--lg-offset);
    flex: 0 0 auto;
  }
  .styles_lgBoolean__FjCC_ {
    margin-left: var(--lg-offset);
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .styles_xl__q6PRk {
    margin-left: var(--xl-offset);
    flex-basis: var(--xl-value);
    max-width: var(--xl-value);
  }
  .styles_xlAuto__VGsEt {
    margin-left: var(--xl-offset);
    flex: 0 0 auto;
  }
  .styles_xlBoolean__p5haz {
    margin-left: var(--xl-offset);
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }
}
.styles_xsGrow__MEDkL {
  flex-grow: var(--xs-grow);
}
@media (min-width: 480px) {
  .styles_smGrow__SAFy0 {
    flex-grow: var(--sm-grow);
  }
}
@media (min-width: 668px) {
  .styles_mdGrow__JrVin {
    flex-grow: var(--md-grow);
  }
}
@media (min-width: 992px) {
  .styles_lgGrow__B7OJA {
    flex-grow: var(--lg-grow);
  }
}
@media (min-width: 1200px) {
  .styles_xlGrow__5nyc3 {
    flex-grow: var(--xl-grow);
  }
}
.styles_xsShrink__yqGPS {
  flex-shrink: var(--xs-shrink);
}
@media (min-width: 480px) {
  .styles_smShrink__xR_Wy {
    flex-shrink: var(--sm-shrink);
  }
}
@media (min-width: 668px) {
  .styles_mdShrink__q3Rn0 {
    flex-shrink: var(--md-shrink);
  }
}
@media (min-width: 992px) {
  .styles_lgShrink__uPBYJ {
    flex-shrink: var(--lg-shrink);
  }
}
@media (min-width: 1200px) {
  .styles_xlShrink__WZnUn {
    flex-shrink: var(--xl-shrink);
  }
}
.styles_xsHiddenUp__f7EB1 {
  display: none !important;
}
@media (max-width: 479px) {
  .styles_xsHiddenDown___gNzG {
    display: none !important;
  }
}
@media (min-width: 480px) {
  .styles_smHiddenUp__hqyLb {
    display: none !important;
  }
}
@media (max-width: 667px) {
  .styles_smHiddenDown__oaCay {
    display: none !important;
  }
}
@media (min-width: 668px) {
  .styles_mdHiddenUp__L0mel {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .styles_mdHiddenDown__Jfdkx {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .styles_lgHiddenUp__wVef1 {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .styles_lgHiddenDown__FYGR5 {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .styles_xlHiddenUp__EnpYP {
    display: none !important;
  }
}
.styles_xlHiddenDown__Hekx6 {
  display: none !important;
}
.styles_ndsSelect__78xGg {
  --nds-select-bg: var(--color-background-base);
  --nds-select-border: var(--color-border-base);
  --nds-select-color: var(--color-text-base);
  --nds-select-display: inline-flex;
  --nds-select-width: 100%;
  --nds-select-hover-bg: var(--color-background-subdued);
  --nds-select-disabled-bg: var(--color-background-page-subdued);
  --nds-select-disabled-border: var(--color-background-disabled);
  --nds-select-disabled-color: var(--color-text-subdued);
  --nds-select-invalid-bg: var(--color-background-warning-subdued);
  --nds-select-invalid-border: #e86900;
  font: var(--typography-body-md-composite);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  vertical-align: initial;
  white-space: normal;
  display: block;
  position: relative;
}
.styles_selectWrap__Kkui7 {
  background-color: var(--nds-select-bg);
  display: var(--nds-select-display);
  position: relative;
}
.styles_selectWrap__Kkui7:hover {
  background: var(--nds-select-hover-bg);
}
.styles_invalidBackground__7IWrb {
  background-color: var(--nds-select-invalid-bg);
}
.styles_borderlessVariant__qBinM {
  background-color: rgba(0, 0, 0, 0);
}
.styles_hasHover__cLV8O:hover {
  background: var(--nds-select-hover-bg);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: var(--radius-button);
}
.styles_selectInput__SCAn2 {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: var(--nds-select-color);
  cursor: pointer;
  height: 44px;
  line-height: var(--typography-line-height-body);
  border: 0;
  font-size: var(--typography-body-md-font-size);
  margin: 0;
  outline: none;
  padding-left: 8px;
  padding-right: 30px;
  width: var(--nds-select-width);
}
.styles_selectInput__SCAn2:-moz-focusring {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #000;
}
.styles_selectInput__SCAn2:disabled {
  background: var(--nds-select-disabled-bg);
  color: var(--nds-select-disabled-color);
  cursor: not-allowed;
}
.styles_selectInputSmall__qafVz {
  font-size: var(--typography-caption-font-size);
  height: 32px;
}
.styles_selectVisual__r8JJ7 {
  align-items: center;
  border: 1px solid var(--nds-select-border);
  border-radius: 3px;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 8px;
  pointer-events: none;
  position: absolute;
}
.styles_selectVisualBorderless__iHylL {
  border: 1px solid rgba(0, 0, 0, 0);
}
.styles_invalidBorder__5iZMA {
  border-color: var(--nds-select-invalid-border);
}
.styles_disabled__iPKYt {
  border-color: var(--nds-select-disabled-border);
}
.styles_selectVisualFocus__zGCr5 {
  outline: var(--color-text-subdued) dashed 1px;
  outline-offset: 2px;
}
.styles_selectLabel___Tv7I {
  background: rgba(0, 0, 0, 0);
  max-width: calc(100% - 8px);
}
.styles_isFocused__oeGRy {
  background: var(--color-background-base);
}
.styles_selectLabelSmall__HjWvc {
  font-size: 10px;
}
.styles_toyFinderBlock__P4dpZ {
  background-color: #f7f7f7;
  margin: 12px auto;
  max-width: 1200px;
  border: 6px solid #888;
}
.styles_toyFinderContent__NKOFa {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 668px) {
  .styles_toyFinderContent__NKOFa {
    max-width: 98%;
  }
}
.styles_toyFinderAlert__y0r7S {
  max-width: 1200px;
  margin: 32px auto;
}
.styles_productCardPriceAndPromoWrapper__38_J0 {
  padding-top: var(--space-padding-container-xs);
  padding-bottom: var(--space-padding-container-xs);
}
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="circle-price"].styles_aesthetic-card-font-size__jUwse,
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="current-price"].styles_aesthetic-card-font-size__jUwse,
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="discount-price"].styles_aesthetic-card-font-size__jUwse {
  font-size: var(--typography-headline-xs-font-size);
}
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="comparison-price"].styles_aesthetic-card-font-size__jUwse,
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="unit-price"].styles_aesthetic-card-font-size__jUwse,
.styles_productCardPriceAndPromoWrapper__38_J0
  [data-test*="urgency-message"].styles_aesthetic-card-font-size__jUwse {
  font-size: var(--typography-body-sm-font-size);
}
.LogoImage_logoImage__kGKW3 img {
  height: 100px;
  display: block;
  margin: var(--space-margin-section-md) auto var(--space-margin-section-xl);
  box-shadow: 5px 5px 5px 5px var(--color-background-subdued-active);
}
@media (min-width: 668px) {
  .LogoImage_logoImage__kGKW3 img {
    height: 200px;
  }
  .LogoImage_logoImage__kGKW3.LogoImage_withHeaderBackground__k4Ady img {
    margin-top: calc(-100px - var(--space-margin-section-xl));
  }
}
.styles_tabWrapper___N1Bt {
  margin-top: var(--space-margin-container-xl);
  font-size: var(--typography-body-sm-font-size);
}
.styles_ndsErrorBucket__E3mGY {
  background-color: var(--color-background-base);
  border: 1px solid #e86900;
  border-radius: 8px;
  color: var(--color-text-base);
  grid-gap: 8px 16px;
  gap: 8px 16px;
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: auto;
  padding: 16px 16px 20px;
}
.styles_unorderedList__IdY5u {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;
  row-gap: 12px;
}
.styles_listItem__h_Hrh {
  list-style: none;
}
.styles_warningIcon__Z_vzU {
  grid-column-start: 1;
  grid-row-end: span 3;
}
