.styles_arrowWrapper__XjE7q {
  display: inline-flex;
  float: left;
  transform: translateY(5px);
  margin: 0 32px 8px 16px;
}
.styles_facetModalSelection__JiGoo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  height: 70px;
  width: 100%;
}
.styles_currentBreadcrumbWrapper__6i9Bb {
  padding: 8px;
  margin: 12px;
  border-radius: 4px;
  background-color: #f7f7f7;
  font-weight: 700;
  display: inline-block;
}
.styles_typeInput__u9Xcw input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}
.styles_typeInput__u9Xcw input[type="number"]::-webkit-inner-spin-button,
.styles_typeInput__u9Xcw input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.styles_constrainedWidthCol__BAhAl {
  flex-basis: auto;
  max-width: 45px;
}
.styles_grid__mPwUS {
  display: grid;
  grid-template-columns: repeat(
    var(--columns, 1),
    calc(100% / var(--columns, 1))
  );
}
.styles_rowWrapper__RbCVt {
  margin: 0-var(--space-margin-container-lg);
}
.styles_loadingRowWrapper__fAyK8 {
  margin-top: var(--space-margin-decoration-xl);
}
.styles_cardWrapper__Lo85r {
  min-height: 186px;
}
.styles_cardWrapper__Lo85r > * {
  height: 100%;
}
.styles_cardWrapper__Lo85r.styles_withBorderBottom__BurfZ {
  border-bottom: 1px solid var(--color-border-subdued);
}
.styles_cardWrapper__Lo85r.styles_withBorderRight__qNG5V {
  border-right: 1px solid var(--color-border-subdued);
}
.styles_cardWrapper__Lo85r.styles_withFullHeight__CMUNP {
  height: 100%;
}
.styles_fullWidthSeparator__zqbVZ {
  border-bottom: 1px solid var(--color-border-subdued);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.styles_productTileWrapper__jERGU {
  width: 175px;
}
.styles_storyWrapper__UrEMT {
  border: 1px solid var(--color-background-subdued-active);
  border-radius: var(--radius-asset);
  padding: var(--space-margin-decoration-xl);
}
@media (min-width: 393px) {
  .styles_storyWrapper__UrEMT {
    margin: 0 10%;
  }
}
@media (min-width: 768px) {
  .styles_storyWrapper__UrEMT {
    margin: 0 25%;
  }
}
.styles_mobileSpacingBar__xbib3 {
  height: var(--space-margin-container-xl);
  background: var(--color-background-subdued);
  margin: 0;
  border-bottom: thin solid;
  border-top: thin solid;
  border-color: var(--color-background-subdued-active);
}
.styles_mobileSpacingBar__xbib3.styles_hasProducts__C27Aj {
  margin: 0 calc(-1 * var(--space-margin-container-xl));
  border-top: hidden;
}
.styles_fullWidthProductGrid__3auvM {
  margin: 0 calc(-1 * var(--space-margin-container-md))
    calc(-1 * var(--space-margin-container-sm));
}
.styles_dialogModal__vKNeo {
  max-width: 475px;
  border-radius: 8px;
}
.styles_headingBase__VA95m * {
  text-transform: capitalize;
}
.styles_headingBase__VA95m.styles_headingDialog__lhwhc {
  border-radius: 8px 8px 0 0;
}
.styles_informationButton__wVjHH {
  display: inline-flex;
  margin-left: 10px;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.styles_reviewButton__JsKMF {
  width: auto;
  margin: var(--space-margin-container-xl) 0;
  display: inline-block;
}
.styles_reviewForm__Hd7dw {
  background-color: var(--color-background-subdued);
  padding: var(--space-padding-container-sm) var(--space-padding-container-xl);
  margin: 0 0 32px;
}
.styles_link__1QWP8,
.styles_link__1QWP8:hover,
.styles_link__1QWP8:visited {
  color: #366cd9;
}
.styles_CarouselContainer__nSRhl {
  background-color: var(--background-color);
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.styles_HeadlineContainer__N1LJd {
  padding: 12px 0;
}
.styles_styledBaseButton__h4_s6 {
  align-items: center;
  border: 1px solid var(--color-border-base);
}
.styles_styledBaseButton__h4_s6:active svg path {
  fill: var(--color-background-page-base);
}
.styles_styledSpan__OUl6C {
  padding-left: var(--space-padding-container-sm);
}
.styles_styledDiv__iXjdw {
  display: flex;
  align-items: center;
}
.styles_paddedCarousel__Zy9LN li:first-child {
  margin-left: 2px;
}
.styles_paddedCarousel__Zy9LN li:last-child {
  margin-right: 2px;
}
.styles_paddedCarousel__Zy9LN ul {
  scroll-snap-type: none;
  scrollbar-width: none;
}
.styles_paddedCarousel__Zy9LN ul::-webkit-scrollbar {
  display: none;
}
.styles_nonCarouselItem__6G2ym {
  column-gap: 8px;
  display: flex;
  align-items: center;
  width: inherit;
}
.styles_nonCarouselItem__6G2ym li:last-child {
  position: unset;
  flex-shrink: unset;
}
.styles_carouselItem__MpZK9 {
  margin: 8px 0;
}
.styles_placeholderLoading__ycBH0 {
  width: 100%;
  height: var(--size-asset-sm);
  margin-bottom: var(--space-margin-decoration-sm);
}
@media (max-width: 479px) {
  .styles_placeholderLoading__ycBH0 {
    height: 56px;
    margin-bottom: var(--space-margin-decoration-md);
  }
}
@media (min-width: 992px) {
  .styles_placeholderLoading__ycBH0 {
    height: 68px;
    margin-bottom: var(--space-margin-decoration-md);
  }
}
.styles_paddedStickyWrapper__AfmUR .styles_children__k_FRn {
  padding: 12px;
}
@media (max-width: 668px) {
  .styles_paddedStickyWrapper__AfmUR .styles_children__k_FRn {
    padding: 8px;
  }
  .styles_link__tJMB3 {
    padding: 5px 4px;
  }
}
@media (max-width: 375px) {
  .styles_link__tJMB3 {
    padding: 5px 8px;
  }
}
.styles_intersectionObserverDiv__YdMRi {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}
.styles_modal__SWeRx {
  word-break: normal;
  overflow-wrap: anywhere;
  width: 375px;
}
.styles_intentFacetLocationText__e_E7k {
  max-width: 100%;
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;
}
@keyframes styles_slide-down__Ik1Ri {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes styles_slide-up__95xvC {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
.styles_stickyContentWrapper__eBzPH {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1047;
  background-color: var(--color-background-base);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.04),
    0 -1px 2px rgba(0, 0, 0, 0.04);
  padding: 16px 16px 0;
  transition: visibility 0.3s, opacity 0.15s;
  opacity: 0;
}
.styles_stickyContentWrapper__eBzPH[data-enabled="true"] {
  transition: visibility 0.3s;
  opacity: 1;
}
@media (min-width: 320px) {
  .styles_stickyContentWrapper__eBzPH {
    visibility: hidden;
    animation: styles_slide-up__95xvC 0.3s ease forwards;
    position: fixed;
    top: 124px;
    bottom: auto;
    padding-top: 16px;
  }
  .styles_stickyContentWrapper__eBzPH[data-enabled="true"] {
    visibility: visible;
    animation: styles_slide-down__Ik1Ri 0.3s ease forwards;
  }
}
@media (min-width: 768px) {
  .styles_stickyContentWrapper__eBzPH {
    top: 78px;
  }
}
.styles_bottomBorderButton__MZukT {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  min-height: 70px;
  height: auto;
  justify-content: space-between;
  padding: unset;
  text-align: start;
  white-space: normal;
}
.styles_modal__V4prW {
  width: 375px;
  max-width: 100%;
}
.styles_intentFacetLinkContainer__0T17S {
  display: flex;
  width: -webkit-max-content;
  width: max-content;
}
@media (max-width: 667px) {
  .styles_intentFacetLinkContainer__0T17S {
    flex-direction: column;
  }
}
.styles_generalLinkText__OgDKf {
  font-size: 16px;
  color: #666;
}
@media (max-width: 667px) {
  .styles_generalLinkText__OgDKf {
    font-size: var(--typography-caption-font-size);
  }
}
.styles_facetsContainer__x3_vW {
  overflow-x: hidden;
}
.styles_facetsContainer__x3_vW button[data-direction="forward"] {
  right: 8px;
}
.styles_facetsContainer__x3_vW button[data-direction="back"] {
  left: 8px;
}
@media (max-width: 668px) {
  .styles_facetsContainer__x3_vW {
    margin-right: -12px;
    margin-left: -12px;
    padding-left: 4px;
  }
}
.styles_placeholderLoading__ZJdPX {
  width: 100%;
  height: 68px;
}
@media (max-width: 474px) {
  .styles_placeholderLoading__ZJdPX {
    height: 56px;
  }
}
