.styles_styledPlaceholderRow__zY3HH {
  flex-wrap: nowrap;
  height: 120px;
  overflow-x: hidden;
  padding: var(--space-padding-container-md) var(--space-padding-container-lg);
}
.styles_styledPlaceholderRow__zY3HH > div {
  margin-right: var(--space-padding-container-sm);
}
.styles_recentlyViewedHeading__DQbLL {
  margin: 0;
}
.styles_recentlyViewedHeading__DQbLL + :before {
  border-top: none;
}
.styles_recentlyViewedHeadingContainer__RcmsI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-padding-container-md);
  padding: var(--space-padding-container-sm) var(--space-padding-container-lg);
}
.styles_placeholderWrapper__vBefD {
  opacity: 0;
}
@media (min-width: 767px) {
  .styles_placeholderWrapper__vBefD {
    opacity: 1;
  }
}
