.styles_liWithBorder__88vUy:after {
  content: "";
  display: block;
  outline: 0;
}
.styles_searchTypeaheadItemLinkWrapper__GRZlV {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.styles_searchTypeaheadItemLinkWrapper__GRZlV:hover,
.styles_searchTypeaheadItemLinkWrapper__GRZlV:hover a,
.styles_searchTypeaheadItemLinkWrapper__GRZlV:hover a > div,
.styles_searchTypeaheadItemLinkWrapper__GRZlV:hover button {
  background-color: var(--color-background-page-subdued);
}
.styles_searchTypeaheadItemLink__bcCdi {
  padding: 0 0 0 var(--space-padding-container-lg);
  margin: 0 0 0 var(--space-padding-container-xs);
  width: 100%;
  text-decoration: none;
}
.styles_searchTypeaheadItemLink__bcCdi:hover {
  text-decoration: underline;
}
.styles_searchTypeaheadItemLink__bcCdi:focus {
  z-index: 1000;
}
.styles_searchTypeaheadTextReplacementArrow__ypZ0h {
  padding: var(--space-padding-container-lg);
  margin: 0 var(--space-padding-container-xs) 0 0;
}
.styles_searchTypeaheadTextReplacementArrow__ypZ0h > svg {
  height: 16px;
  width: 16px;
}
.styles_searchTypeaheadTextReplacementArrow__ypZ0h:focus {
  z-index: 1000;
}
.styles_searchTypeaheadCategoryArrowIcon__BLFxh {
  width: 22px;
}
