.styles_styledLabel__iXIZl {
  cursor: pointer;
  padding: var(--space-padding-container-lg) 0 var(--space-padding-container-lg)
    var(--space-padding-container-lg);
  margin: 0 var(--space-margin-container-sm);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.styles_styledLabel__iXIZl:hover {
  color: #000;
}
.styles_styledLabel__iXIZl:focus-within {
  outline: 1px dashed #000;
  -moz-outline-radius: 4px;
}
.styles_circlePicture__pzvkX {
  margin-right: 16px;
}
.styles_circlePicture__pzvkX img {
  border-radius: 50%;
  border: 1px solid #888;
}
.styles_styledFiltersMenuButton__PCSqV {
  border-radius: var(--border-radius-transition-to-rounded-x2);
  border: 1px solid var(--color-border-base);
}
@media (max-width: 480px) {
  .styles_styledFiltersMenuButton__PCSqV {
    border-radius: var(--border-radius-transition-to-rounded-x1);
  }
}
.styles_styledFiltersMenuButton__PCSqV.styles_hasAppliedFacets__CT7Qn {
  color: var(--color-border-success);
  font-weight: 700;
  border: 2px solid var(--color-border-success);
}
.styles_styledFiltersMenuButton__PCSqV:active {
  outline: none;
  color: #fff;
  background: #000;
}
.styles_styledFiltersMenuButton__PCSqV:active #styles_filter-icon__NeMez {
  color: #fff;
}
.styles_styledFiltersMenuButton__PCSqV:hover {
  background: #f7f7f7;
}
.styles_facetButtonContainer__FYk9J {
  position: relative;
}
.styles_widthContainer__oKiO8 {
  min-width: 76px;
}
.styles_appliedFacetButton__8Rzp5 {
  border-radius: var(--border-radius-transition-to-rounded-x2);
  background: #f7f7f7;
  border-color: rgba(0, 0, 0, 0);
  width: 100%;
}
@media (max-width: 480px) {
  .styles_appliedFacetButton__8Rzp5 {
    border-radius: var(--border-radius-transition-to-rounded-x1);
  }
}
.styles_appliedFacetButton__8Rzp5 #styles_icon-x-mark__Q2osx {
  color: #888;
}
.styles_appliedFacetButton__8Rzp5:hover {
  border: 1px solid #888;
  background: #f7f7f7;
}
.styles_appliedFacetButton__8Rzp5:active {
  outline: none;
  color: #fff;
  background: #000;
}
.styles_appliedFacetButton__8Rzp5:active #styles_icon-x-mark__Q2osx {
  color: #fff;
}
.styles_AisleWrapperPlaceholder__m6rLg {
  display: flex;
  border-radius: var(--space-margin-section-lg);
  margin-bottom: var(--space-margin-section-lg);
  max-width: 1400px;
  overflow-x: hidden;
  padding: 65px 0 var(--space-margin-section-lg) var(--space-margin-section-lg);
  height: auto;
}
.styles_CardPlaceholder__x7EGD {
  margin-right: var(--space-margin-section-sm);
  min-width: 132px;
  height: 305px;
  background-color: var(--color-background-subdued-active);
  border-radius: var(--space-margin-section-sm);
}
@media (min-width: 480px) {
  .styles_CardPlaceholder__x7EGD {
    height: 360px;
    min-width: 188px;
    margin-right: var(--space-margin-section-lg);
  }
}
.styles_styledCarousel__GeCg1 li:first-child {
  margin-left: 2px;
}
.styles_styledCarousel__GeCg1 li:last-child {
  margin-right: 2px;
}
.styles_styledCarousel__GeCg1 ul {
  scroll-snap-type: none;
  scrollbar-width: none;
}
.styles_styledCarousel__GeCg1 ul::-webkit-scrollbar {
  display: none;
}
.styles_styledCarousel__GeCg1 li:focus-within {
  outline: none;
}
.styles_styledCarouselItem__fisjK {
  margin: 4px 0;
}
.styles_nlrFacetsCarouselWrapper__gIc3W {
  width: unset;
  max-width: 100%;
}
.styles_nlrFacetsCarousel__qO3aA li:first-child {
  margin-left: 2px;
}
.styles_nlrFacetsCarousel__qO3aA li:last-child {
  margin-right: 2px;
}
.styles_nlrFacetsCarousel__qO3aA ul {
  scroll-snap-type: none;
  scrollbar-width: none;
}
.styles_nlrFacetsCarousel__qO3aA ul::-webkit-scrollbar {
  display: none;
}
.styles_pictureNavigationWrapper__qupA8 {
  margin: 32px 0 var(--space-margin-container-xl);
}
.styles_pictureNavigationWrapper__qupA8 > div {
  padding: 0 var(--space-padding-container-lg);
}
.styles_pictureNavigationWrapper__qupA8 li {
  font-size: var(--typography-body-sm-font-size);
}
.styles_productCardExtendedButtonsSection__FXDDZ {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.styles_productCardExtendedButtonsSection__FXDDZ
  .styles_addToCartButtonContainer__r8V_1 {
  width: 75%;
  max-width: 128px;
}
@media (min-width: 668px) {
  .styles_productCardExtendedButtonsSection__FXDDZ
    .styles_addToCartButtonContainer__r8V_1 {
    width: 25%;
    min-width: 96px;
  }
}
.styles_fadeInDiv__gqnLy {
  animation: styles_fadein___JzY_ 1s;
}
@keyframes styles_fadein___JzY_ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.styles_styledActiveFacetButton__P3QCp {
  display: inline-block;
  line-height: normal;
  background-color: var(--color-background-base);
  border: 2px solid #00a200;
  border-radius: var(--border-radius-transition-to-rounded-x2);
  margin: 0;
}
@media (max-width: 480px) {
  .styles_styledActiveFacetButton__P3QCp {
    border-radius: var(--border-radius-transition-to-rounded-x1);
  }
}
@media (min-width: 668px) {
  .styles_styledActiveFacetButton__P3QCp {
    margin: 8px 4px;
  }
}
.styles_styledActiveFacetButton__P3QCp #styles_icon-x-mark__SyCyj {
  color: var(--color-background-inactive-contrast);
}
.styles_styledIntentFacetButton__c59Ss {
  padding: 12px 12px 12px 8px;
  background-color: var(--color-background-base);
  border: 1px solid var(--color-border-base);
  border-radius: var(--border-radius-transition-to-rounded-x2);
  margin: 0;
}
@media (max-width: 480px) {
  .styles_styledIntentFacetButton__c59Ss {
    border-radius: var(--border-radius-transition-to-rounded-x1);
  }
}
@media (min-width: 668px) {
  .styles_styledIntentFacetButton__c59Ss {
    margin: 8px 4px;
  }
}
.styles_styledIntentFacetButton__c59Ss:first-child {
  margin-left: 0;
}
.styles_styledCellRadio__zUZVR {
  padding: initial;
}
.styles_styledCellRadio__zUZVR #styles_anytime__oRE_9 + label,
.styles_styledCellRadio__zUZVR #styles_tomorrow__V8OrW + label {
  border-bottom: 1px solid #d6d6d6;
  padding-left: 0;
  padding-bottom: 16px;
  margin-left: 20px;
}
.styles_fulfillmentFilterBarWrapper__HBj6t {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  max-width: 100%;
}
@media (min-width: 1199px) {
  .styles_fulfillmentFilterBarWrapper__HBj6t.styles_removeResultsCount__l4mfR {
    margin-top: 0;
  }
  .styles_fulfillmentFilterBarWrapper__HBj6t {
    margin-top: -60px;
    height: 60px;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.styles_placeholderLoading__v_K3E {
  height: 0;
  width: 0;
}
@media (min-width: 668px) and (max-width: 991px) {
  .styles_placeholderLoading__v_K3E {
    height: 76px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .styles_placeholderLoading__v_K3E {
    height: 0;
    width: 100%;
  }
}
.styles_pictureNavigationWrapper__rnp4Y {
  margin: 32px 0;
  padding: var(--space-padding-button-lg) 0 0 var(--space-padding-button-lg);
  border-top: 1px solid var(--color-border-subdued);
}
.styles_styledReturnsContainer__BKhmr {
  display: flex;
  align-items: baseline;
  gap: 0 8px;
}
@media (min-width: 480px) {
  .styles_styledReturnsContainer__BKhmr {
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .styles_CarouselWrapper__ZUjr_ {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.styles_CarouselItem__F9e8l {
  padding: 0 0 32px;
}
.styles_FixedSizePictureNavItem__0075M {
  width: 128px !important;
}
.styles_FixedSizePictureNavItem__0075M img {
  width: 96px;
  max-width: none;
  min-width: 96px;
  height: 96px;
}
.styles_PlaceholderCircle__PfMe0 {
  height: 96px;
  stroke: #333;
  border-radius: 50%;
  width: 96px;
}
.styles_PlaceholderRectangle__JZ1CK {
  height: 16px;
  stroke: #333;
  width: 96px;
}
.styles_productDetailTrafficAwareProductGridContainer__Ijxi7
  [data-test="zoneId-ListingPageAboveProductList"] {
  overflow-x: visible;
}
@keyframes styles_fade-in__hCRhg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.styles_HeadingContainer__66Tbb {
  min-height: 30px;
  animation: styles_fade-in__hCRhg 0.3s ease-in forwards;
  position: relative;
}
.styles_StyledTitleRow__d9BqM {
  flex-wrap: nowrap;
  padding: 24px 16px 0;
}
.styles_FlexShrink__QS_QS {
  flex-shrink: 0;
  margin: auto 0;
}
.styles_StyledBookmarkButton__d1avP {
  margin-left: auto;
  margin-right: 12px;
}
.styles_SubheadingContainer__vjZeJ {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.styles_SubheadingContainer__vjZeJ > button {
  display: inline-block;
}
.styles_SubheadingContainer__vjZeJ .styles_reverseRowOrder__oqHpX {
  display: flex;
  flex-direction: row-reverse;
}
.styles_BulletsAfter__u_Fyo:after,
.styles_BulletsBefore__j3DLU:before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #666;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}
.styles_NoBullet__AgZr0:after,
.styles_NoBullet__AgZr0:before {
  display: none;
}
.styles_StyledSpan__cSsh2 {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 4px;
}
.styles_StyledOfferTitleSpan__da3TO {
  color: #4a2e70;
}
.styles_StyledCircle__wMufc {
  color: #c00;
}
.styles_StyledCircleContentRow__vxYsN {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 16px;
  gap: 50px;
}
@media (max-width: 480px) {
  .styles_StyledCircleContentRow__vxYsN {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.styles_CircleSavingsSectionContainer__K0FnC {
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--color-circle-background-subdued, #e8f8f7);
}
@media (min-width: 480px) {
  .styles_CircleSavingsSectionContainer__K0FnC {
    min-width: 48px;
    min-height: 48px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 750px;
    margin-top: 16px;
  }
}
.styles_StyledHeadingIn__oSfbX {
  line-height: 125%;
  margin: 0;
}
.styles_StyledHeadingWrapper__teI_Q {
  display: flex;
}
.styles_StyledLearnMoreCircleLink__z33F3 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.styles_StyledLearnMoreCircleLink__z33F3 button {
  white-space: nowrap;
}
.styles_StyledCircleSecondaryText__IKgam {
  color: #666;
}
.styles_StyledButtonBare__cU_Vz {
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
.styles_StyledButtonBare__cU_Vz:hover {
  background: rgba(0, 0, 0, 0);
  border: none;
}
.styles_StyledButtonBare__cU_Vz:active {
  border: none;
}
.styles_priceWrapper__ry1GY {
  align-items: baseline;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  text-align: right;
  padding: var(--space-padding-container-xs) 0;
}
.styles_priceWrapper__ry1GY > :last-child {
  margin-left: var(--space-margin-container-sm);
}
.styles_priceWrapper__ry1GY > div {
  width: auto;
}
.styles_seedItemWrapper___HtY8 img {
  height: 100%;
  border-radius: calc(0.5 * var(--radius-asset));
}
